<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EMAIL -Template</title>
</head>
<body>
    <h1>Sistema ABM - Usuarios</h1>
    <br>
    <tr>
        <td align="left">
            <span style="font-size: 17px; color: grey; font-weight: 700;">El usuario <%= user.firstName %> <%= user.lastName %> ha sido habilitado.</span>
        </td>
    </tr>
    <br>
    <tr>
        <td  style="color: #a4a4a4; line-height: 25px; font-size: 12px; font-weight: normal; font-family: Helvetica, Arial, sans-serif;">

            <p style="color: #000000;">Los datos para conexion son:</p>
            <ul>
                <li>Usuario: crtp.corp\<%= newdata.username %></li>
                <li>Contraseña: Ab123456</li>
                <li>E-Mail: <%= newdata.email %></li>
            </ul>

        </td>
    </tr>
</body>
</html>