<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EMAIL -Template</title>
</head>
<body>
    <h1>Sistema ABM - Usuarios</h1>
    <br>
    <tr>
        <td align="left">
            <span style="font-size: 17px; color: grey; font-weight: 700;">Baja usuario <%= user.firstName %> <%= user.lastName %>.</span>
        </td>
    </tr>
    <br>
    <tr>
        <td  style="color: #a4a4a4; line-height: 25px; font-size: 12px; font-weight: normal; font-family: Helvetica, Arial, sans-serif;">

            <p style="color: #000000;">Sistemas ejecutó la baja del usuario</p>

        </td>
    </tr>
</body>
</html>